
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}

input[type="text"]{
    width: 241px;
    height: 40px;
    padding: 15px;
    outline: none;
    background-color: #000;
    border: none;
    margin: 15px 0 0 25px;
    color: white;
    border-radius: 10px 10px 10px 10px;
}
.search-bar i{
    font-size: 15px;
    position: relative;
    background-color: #565E70;
    width: 35px;
    height: 40px;
    color: white;
    line-height: 39px;
    border-radius: 5px 5px 5px 5px;
    right: 25px;
    font-weight: 800;
}
.fa-magnifying-glass:before, .fa-search:before {
   
    text-align: center;
    margin-left: 8px;
    
   
}
.add-button{
    background-color: #03A9F1;
    position: relative;
    right: 20px;
    font-size: 20px;
    width: 40px;
    height: 41px;
    outline: none;
    color: white;
    border: none;
    border-radius: 5px 5px 5px 5px;
}
.container{
    background-color: #292F3F;
    width: 350px;
    height: 650px;
    border-radius: 15px 15px 15px 15px;
}
.top-container{
 margin-top: 5px;  
 padding: 5px; 
}
.top-container h1{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
}

.chatroom-heading h1{
    color: white;
    margin-top: 15px;
    margin-left: 23px;
}
.chatroom-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    
    
}
.chatroom-container h1{
    font-size: 15px;
    text-align: left;
    font-weight: 300;
    width: fit-content;
    line-break: loose;
    letter-spacing: 1px;
    line-height: 20px;
    /* width: 50px; */
    position: relative;
    top: 70px;
    margin-left: 10px;
    color: white;
}
.card-1{
    background: linear-gradient(180deg, #FFE81D 0%, #00F0FF 100%);
box-shadow: 20px 24px 34px rgba(0, 0, 0, 0.45);
border-radius: 30px;

width: 95px;
height: 140px;

}
.card-2{
    background: linear-gradient(180deg, #03A9F1 0%, #A0025A 100%);
    box-shadow: 20px 24px 34px rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    
    width: 95px;
    height: 140px;
}
.card-3{
    background: linear-gradient(180deg, #B347EA 0%, #09F9BF 100%);
    box-shadow: 20px 24px 34px rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    
    width: 95px;
    height: 140px;
}

.chat-section img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
/* .chat-section{
   display: grid;
   grid-template-rows: 2fr 2fr 2fr 2fr;
    
} */
.chats {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 8px;
}
.chats p1{
    font-size: 10px;
}
.top-container{
    display: flex;
    justify-content: start;
    margin-left: 25px;
    
}
.top-container img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
.icon{
    position: relative;
    left: 58px;
    top: 76px;
}
.icon i{
    color: white;
}
.dot-section{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.dot-section i{
    color: #C4C4C4;
    margin: 5px;
    font-size: 3px;
    
}